<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        .img-box{
            margin: 0 auto;
            padding-top: 150px;
            width: 260px;
        }
        img{
            width: 260px;
        }
        p{
            font-size:24px;
            font-family: serif;
        }
        .reason{
            text-align: center;
            font-size:18px;
            font-weight:400;
            color:rgba(155,155,155,1);
        }
    </style>
</head>
<body>
    <div class="img-box">
        <img src="images/404.png" />
        <p>抱歉！您撞进404页面...</p>

        <p class="reason">可能原因: <br/> 网络信息不好 <br/> 找不到请求资源</p>
    </div>
</body>
</html>