<!DOCTYPE html>
<html lang="en">

<head>
	<title>iPluggable | Home </title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Snacks Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- <link rel="shortcut icon" href="#" /> -->
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap4.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.css.map"> -->
	<!-- gallery light box -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/fontawesome-all.min.css">
	<link rel="stylesheet" href="css/sweetalert2.min.css">
	<!-- Font-Awesome-Icons-CSS -->
	<style type="text/css"> 
		header {
			position: absolute;
			z-index: 99;
			width: 100%;
		}
		footer {
			background: black
		}
		/* IE ------ start */
		.ie-tips {
			display: none;
			position: relative;
			height: 30px;
			line-height: 30px;
			background: #f9d272;
			color: #f00;
			font-size: 14px;
			text-align: center;
		}
		.ie-tips b {
			font-weight: bold;
		}
		.ie-tips .js-tip-close {
			position: absolute;
			top: 0;
			right: 20px;
			cursor: pointer;
		}
		/* IE ------ end */
	</style>
</head>

<body>
	<div class="ie-tips">
		For a better access experience, use the recommended browser.
		<a href="download/ChromeSetup.exe" rel='external nofollow'>Chrome</a>
		<a class="js-tip-close">[Close]</a>
	</div>
	<!-- header -->
	<header id="header">
	</header>
	<!-- //header -->

	<!-- banner -->
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>
				<div class="slider-info bg1">
					<div class="w3l-overlay">
						<div class="banner-text text-center container">
							<!-- <h3 class="text-white mb-md-4 mb-3">Come to the luxurious 
								<span>Tasty Snacks</span>
							</h3>
							<p class="movetxt text-white mb-4">Find Delivery Outlet near you</p> -->
							<div class="search-agile">
								<!-- <form> -->
									<div class="btn-group" style="width: 60%">
									<input type="search" id="top_search" name="search" placeholder="Search here..." required="" value= <%= apn %> >
									<input type="submit" id="searchSubmit" value="Search">
									<div class="clearfix"> </div>
								</div>
								<!-- </form> -->
							</div>
						</div>
					</div>
				</div>
			</li>			
		</ul>
	</div>
	<!-- //banner -->	

	<!-- footer -->
	<footer class="footer">		
		<!-- copyright -->
		<div class="copy_right">
			<p class="text-center text-white py-sm-4 py-3">Copyright &copy; 2020 CION FSV, NOKIA Shanghai Bell All rights reserved. V2.1.4.0</p>
		</div>
		<!-- //copyright -->
	</footer>
	<!-- //footer -->


	<!-- Js files -->
	<!-- JavaScript -->
	<script src="javascripts/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->

	<!-- banner slider -->
	<script src="javascripts/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		// $(function () {
		// 	// Slideshow 4
		// 	$("#slider3").responsiveSlides({
		// 		auto: true,
		// 		pager: true,
		// 		nav: false,
		// 		speed: 500,
		// 		namespace: "callbacks",
		// 		before: function () {
		// 			$('.events').append("<li>before event fired.</li>");
		// 		},
		// 		after: function () {
		// 			$('.events').append("<li>after event fired.</li>");
		// 		}
		// 	});

		// });
	</script>
	<!-- //banner slider -->

	<!-- sweetalert -->
	<script src="javascripts/promise.min.js"></script>
	<script src="javascripts/sweetalert2.min.js"></script>

	<!-- move-top -->
	<script src="javascripts/move-top.js"></script>
	<!-- easing -->
	<script src="javascripts/easing.js"></script>
	<!-- controller -->
	<script src="javascripts/src/utils.js"></script>
    <script src="javascripts/src/nav_controller.js"></script>
	<script src="javascripts/src/index_controller.js"></script>
	
	<!--  necessary snippets for few javascript files -->
	<script src="javascripts/bootstrap4.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //Js files -->

</body>

</html>

<!-- ****************************template_header start**************************** -->
<script type="text/template" id="template_header">
	<nav class="navbar navbar-expand-lg navbar-light py-4">
		<div class="container">
				<a class="navbar-brand" href="/">
					<img src="./images/NOKIA_SBELL_LOGO_H_WHITE_LR.png"/>
				</a>
			<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav text-center" style="position: relative;left: 50%;">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>

					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#">Template</a>
					</li>

					<li class="nav-item">
						<a class="nav-link scroll" id="checkIn" style="cursor: pointer;">Check in</a>
					</li>
				</ul>
				<div class="forms-w3ls-agilesm text-center mt-lg-0 mt-4" style="position: relative;left: 50%;">
					<ul>
						<li class="login-list-w3ls d-inline border-right pr-3 mr-3">
							<a href="javascript:void(0);" id="login" class="text-white">Login</a>
							<a href="javascript:void(0);" id="login2" class="text-white dropdown-toggle" style="display:none;" data-toggle="dropdown"></a>
							<!-- <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModalCenter1">Login</a> -->
							<div class="dropdown-menu">
								<a class="dropdown-item" id="logout" href="javascript:void(0);">login out</a>
								<!-- <a class="dropdown-item" id="currentUser" href="javascript:void(0);">login 2</a> -->
							</div>
						</li>
						<!-- <li class="login-list-w3ls d-inline">
							<a href="#" class="text-white" data-toggle="modal" data-target="#exampleModalCenter2">Register</a>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</nav>
</script>
<!-- ****************************template_header end**************************** -->