.login_wrapper .login_form img{
    width: 100%;
}

.login_content {
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
}

#logIn{
    width: 100%;
    color: #777;
}
.calendar{
    display: inline-block;
}