/* 顶部导航栏 navbar */
@media (min-width: 768px){
    .navbar-nav {
        float: left;
        /* margin: 0; */
    }
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    /* position: absolute; */
}

.navbar .navbar-collapse {
    position: relative;
    overflow: unset !important;
}

.padding-top-10{
    padding-top: 10px;
}

/* 上传下载 start  */
/* 调整link样式 */
.tab-pane form .form-group{
    float: left;
    width: 50%;
}
.form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}
input[type=file]{
    display: inline-block;
    width: 70%;
}
.modal-body .form-group label{
    display: block;
}
/* up */
.a-upload {
    position: relative;
    display: inline-block;
    width: 174px;
    height: 32px;
    background: #E6E6E6;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 4px 12px;
    color: grey;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.a-upload input {
    position: absolute;
    width: 170px;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}
.a-upload:hover {
    background: #00A0E9;
    border-color: #78C3F3;
    color: #fff;
    text-decoration: none;
}
a.download{
    display: inline-block;
    height: 32px;
}
.download img{
    margin-left: 12px;
    vertical-align: 3px;
    /* width: 24px; */
    height: 24px;
}
/* 上传下载 end */